.dealer {
  background-color: var(--title-light-color);

  @include for-tablet {
    padding-block: 0;

  }

  &__container {
    padding-left: 0;
    margin-left: 0;
    max-width: initial;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 7vw;
  }
  &__left {
    display: none;

    @include for-tablet {
      display: block;
      flex: 0 0 50%;
    }
  }
  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include for-tablet {
      width: auto;
      padding-right: 8rem;
      align-items: flex-start;
      text-align: left;
    }

    & .section__title {
      margin-bottom: 6rem;
    }

    & p {
      max-width: 60vw;
      font-weight: 400;
      font-size: 1.9rem;
      line-height: 3.3rem;

      @include for-tablet {
        max-width: initial;
      }
    }

    & .btn {
      margin-top: 5rem;
    }
  }
}
