.empty {
  padding-block: 0;

  &__container {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;

    @include for-tablet {
      padding-left: 15px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__left {
    flex: auto;
  }
  &__right {
    flex: auto;

    @include for-tablet {
      flex: 0 1 480px;
    }

  }
}
