/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  background: var(--accent-color-1);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 100;
  opacity: 0.8;

  transition: 0.4s;

  &:hover {
    background-color: var(--accent-color-3);
    opacity: 1;
  }

  & .icon {
    width: 24px;
    height: 24px;

    & path {
      fill: var(--text-color);
    }
  }

  &.show-scroll {
    bottom: 1.5rem;
  }
}
