<div class="section dealer section" id="dealer">
  <div class="dealer__container _container">
    <div class="dealer__inner">
      <div class="dealer__left">
        <picture class="dealer__img">
          <source srcset="./img/dealer.avif" type="image/avif">
          <source srcset="./img/dealer.webp" type="image/webp">
          <img loading="lazy" src="./img/dealer.jpg" class="image" alt="">
        </picture>
      </div>
      <div class="dealer__right">
        <h2 class="section__title">become a dealer</h2>
        <p>Do you want to become a Joli retailer? Please submit the following form and we will contact you!</p>
        <a href="#" class="btn btn-reset btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
