<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__body">
      <a href="index.html" class="header__logo">
        <img src="./img/logo.svg" alt="logo">
      </a>
      <nav class="footer-nav" aria-label="Нижнее меню" title="">
        <div class="footer-nav__title">Collections</div>
        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Wire</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Наши склады</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Curve</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Fizz</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Marguerite</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</footer>

