<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__body">
      <a href="index.html" class="header__logo">
        Request our 2022 catalogue.
      </a>
      <form action="#" class="footer-form">
        <label for="email" class="footer-form__label">Email address<sup>*</sup></label>
        <input type="text" name="email" id="email" class="footer-form__input" placeholder="Email adress">
        <button type="submit" class="btn btn-reset footer-form__btn">Send</button>
        <span class="footer-form__text">I agree with the <a href="#">Privacy & Cookie Policy</a> of Joli</span>
      </form>

    </div>
  </div>
</footer>

