<header class="header">
  <div class="header__container _container">
    <div class="header__body">
      <nav class="nav" aria-label="Header menu" title="Header menu" data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#collections" class="nav__link">Collections</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link">Products</a>
          </li>
          <li class="nav__item">
            <a href="#inspiration" class="nav__link">Inspiration</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Find a dealer</a>
          </li>
        </ul>
      </nav>
      <button class="burger" aria-label="Open menu" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
