<head>
  <meta charset="UTF-8">
  <!-- <base href="/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="img/favicon.png" />
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="img/favicon32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon96.png" /> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@title</title>
  <meta name="theme-color" content="#c4cdd6">
  <meta name="msapplication-navbutton-color" content="#1A2633">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1A2633">
  <link rel="preload" href="./fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- <meta name="keywords" lang="ru" content="слова, слова" />
  <meta name="description" lang="ru" content="Описание" />
  <meta name="Author" content="">
  <meta name="Copyright" content="">
  <meta name="robots" content="index, follow"> -->
  <script defer src="js/main.js" defer></script>
</head>
