<section class="inspiration section" id="inspiration">
  <div class="inspiration__container _container">
    <div class="inspiration__inner">
      <div class="inspiration__left">
        <h2 class="section__title">find a dealer</h2>
        <p>We work together with dealers in 19 countries,
          all over the world. Find out which one is closest to you.</p>

        <form action="#" class="inspiration-form">
          <label class="inspiration-form__label">
            <input type="text" name="location" class="inspiration-form__input" placeholder="Your location" required autocomplete="off">
          </label>
          <button type="submit" class="btn btn-reset inspiration-form__btn">Search</button>
        </form>
      </div>
      <div class="inspiration__right">
        <picture>
          <source srcset="./img/inspiration.avif" type="image/avif">
          <source srcset="./img/inspiration.webp" type="image/webp">
          <img loading="lazy" src="./img/inspiration.jpg" class="image" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
