<section class="terrace section">
  <div class="terrace__container _container">
    <div class="terrace__inner">
      <div class="terrace__content">
        <h2 class="section__title">Terrace <span>Ceremonies & Meetings</span></h2>
        <a href="#" class="btn btn-primary">Inspire me</a>
      </div>
      <picture class="terrace-img img-01">
        <source srcset="./img/terrace/01.avif" type="image/avif">
        <source srcset="./img/terrace/01.webp" type="image/webp">
        <img loading="lazy" src="./img/terrace/01.jpg" class="image" alt="">
      </picture>
      <picture class="terrace-img img-02">
        <source srcset="./img/terrace/02.avif" type="image/avif">
        <source srcset="./img/terrace/02.webp" type="image/webp">
        <img loading="lazy" src="./img/terrace/02.jpg" class="image" alt="">
      </picture>
      <picture class="terrace-img img-03">
        <source srcset="./img/terrace/03.avif" type="image/avif">
        <source srcset="./img/terrace/03.webp" type="image/webp">
        <img loading="lazy" src="./img/terrace/03.jpg" class="image" alt="">
      </picture>
    </div>
  </div>
</section>
